$main-color: darkcyan;

.custom-button {
    margin: 10px 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: white;
    color: $main-color;
    border: 1px solid $main-color;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 0.3rem;
    cursor: pointer;
  
    &:hover {
        background-color: $main-color;
        color: white;
        transition: 200ms ease all;
    }

    &.google-sign-in {
        background-color: #4285F4;
        border: lightseagreen;
        color: white;
        
        &:hover {
            background-color: #DB4437;
            color: white;
            transition: 200ms ease all;
        }
    }

    &.inverted {
        background-color: $main-color;
        color: white;
    
        &:hover {
            background-color: white;
            color: $main-color;
            border: 1px solid $main-color;
            transition: 200ms ease all;
        }
    }
}