.sign-up {
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid rgba(128, 0, 0, .2);
    border-radius: 0.5rem;
    padding: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}