.collection-item {
    width: 24.5%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
  
    .image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
    }
  
    .collection-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: large;
        margin: 5px 0px 5px 0px;
    }
}  