@mixin column-flex { // so that items flow vertically
  display: flex;
  flex-direction: column;
}
.cart-dropdown {
  background-color: white;
  position: absolute;
  width: 280px;
  max-height: 340px;
  @include column-flex;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  top: 50px;
  right: 50px;
  z-index: 1;
  text-align: center;

  .cart-items {
    height: 240px;
    @include column-flex;
    overflow-y : auto; // to show scroll if required
  }

  button {
    margin: auto; // so that it stays at bottom always
  }
}
  