.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      height: 1.5rem; 
    }
  
    .item-count {
      position: absolute;
      font-size: 15px;
      bottom: 11px;
      color: darkcyan;
    }
  }
  