@mixin horizontally-center {
  display: flex;
  align-items: center;
}

@mixin paddinglr20px {
  padding: 0px 20px 0px 20px;
}

.header {
  width: 100%;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: palegoldenrod;
  padding: 0rem 3rem;
  border-bottom: 1px solid lightgray;

  &.navbar {
    z-index: 1;
    position: fixed;
  }

  .logo-container {
    @include horizontally-center;

    .logo {
      @include paddinglr20px;
      font-size: small;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .options {
    @include horizontally-center;

    .option {
      @include paddinglr20px;
      
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
  