.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: palegoldenrod;
    padding: 0rem 3rem;
  
    .options {
      display: flex;

      .option {
        margin: 0px 20px 0px 20px;
      }
    }
  }
  