.checkout-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

    .checkout-block{
        width: 70%;
        display: flex;
        flex-direction: column;

        .checkout-header {
            width: 100%;
            display: flex;
            padding: 10px 0;
            justify-content: space-between;
            border-bottom: 1px solid lightgrey;
        
            .header-block {
                width: 20%;
                text-transform: capitalize;
                text-align: center;
        
              &.particular {
                text-align: left;
                width: 30%;
              }
      
              &.remove {
                width: 10%;
              }
            }
        }
        
        .total {
            color: darkcyan;
            margin: 1rem 0;
            margin-left: auto;
            font-size: xx-large;
        }

        .pay-button {
            margin-left: auto;
        }
    }

    .empty-cart {
        font-size: x-large;
        margin: 9rem 0 1rem 0;
    }
}
  